/* create a grid of cards to display pokedex */
html, body, #root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

